/*
 Theme Name: 	 Visageimaging.com
 Theme URI:      https://www.elegantthemes.com/gallery/divi/
 Description:    Divi Child Theme
 Author:         Elegant Themes
 Author URI:     https://www.elegantthemes.com
 Template:       Divi
 Version:        1.0.0
*/


/* Global */

body {
	font-weight: 200;
	color: #383838;
}

h1 {
	font-weight: 100;
}

h3 {
	font-weight: 200;
}

p {
	font-size: 0.83em;
	line-height: 1.5em;
	font-weight: 200;
}


.wpr-rev-body {
	font-size: 1em !important;
	line-height: 1.3em !important;
}

body a {
	color: #8329AA;
}

body a {
	text-decoration: underline;
}

a.et_pb_button {
	text-decoration: none;
}

.wpr-home-cta-bottom a,
.et_pb_section_7 a {
	color: #8329AA !important;
}


@media only screen and (min-width: 1920px) {

	body {
		font-size: 32px !important;
	}

	p,.wpr-rev-body, .et_pb_toggle_content p, .wpr-toggle .wpr-faq-bottom,body .et_pb_row .wpr-home-blog .post-content, .wpr-column, .wpr-toggle .et_pb_toggle_title h4, p.wpr-subitle, .wpr-faq .et_pb_toggle_title, .wpr-faq .et_pb_toggle_content p{
		font-size: 0.93em !important;
	}

	.wpr-body {
		font-size: 30px !important;
		line-height: 39px !important;
	}

	.wpr-rev-title,
	.wpr-rev-custom-header {
		font-size: 80px !important;
	}
}


@media only screen and (min-width: 1640px) and (max-width: 1920px) {
	body {
		font-size: 30px !important;
	}

	p, .wpr-rev-body, .et_pb_toggle_content p, .wpr-toggle .wpr-faq-bottom,body .et_pb_row .wpr-home-blog .post-content, .wpr-column, .wpr-toggle .et_pb_toggle_title h4, p.wpr-subitle, .wpr-faq .et_pb_toggle_title, .wpr-faq .et_pb_toggle_content p{
		font-size: 0.93em !important;
	}


	.wpr-body {
		font-size: 28px !important;
		line-height: 36px !important;
	}

	.wpr-rev-title,
	.wpr-rev-custom-header {
		font-size: 75px !important;
	}

}

@media only screen and (min-width: 1540px) and (max-width: 1640px) {

	body {
		font-size: 30px !important;
	}

	p, .wpr-rev-body, .et_pb_toggle_content p, .wpr-toggle .wpr-faq-bottom,body .et_pb_row .wpr-home-blog .post-content, .wpr-column, .wpr-toggle .et_pb_toggle_title h4, p.wpr-subitle, .wpr-faq .et_pb_toggle_title, .wpr-faq .et_pb_toggle_content p {
		font-size: 0.83em !important;
	}

	.wpr-body {
		font-size: 25px !important;
		line-height: 32px !important;
	}

	.wpr-rev-title,
	.wpr-rev-custom-header {
		font-size: 53px !important;
	}
}


@media only screen and (min-width: 1280px) and (max-width:1540px) {

	body {
		font-size: 21px !important;
	}

	p, .wpr-rev-body, .et_pb_toggle_content p, .wpr-toggle .wpr-faq-bottom,body .et_pb_row .wpr-home-blog .post-content, .wpr-column, .wpr-toggle .et_pb_toggle_title h4, p.wpr-subitle, .wpr-faq .et_pb_toggle_title, .wpr-faq .et_pb_toggle_content p {
		font-size: 1.1em !important;
	}

	.wpr-rev-title,
	.wpr-rev-custom-header {
		font-size: 53px !important;
	}

	.wpr-platform-metrics .et_pb_button_module_wrapper .et_pb_button,
	.wpr-platform-metrics .et_pb_button_module_wrapper .et_pb_button:hover{
		padding-left: 28px !important;
		padding-right: 28px !important;
		font-size: 21px !important;
	}

}

@media only screen and (min-width: 1280px) and (max-width:1380px) {

	p, .wpr-rev-body, .et_pb_toggle_content p, .wpr-toggle .wpr-faq-bottom,body .et_pb_row .wpr-home-blog .post-content, .wpr-column, .wpr-toggle .et_pb_toggle_title h4, p.wpr-subitle, .wpr-faq .et_pb_toggle_title, .wpr-faq .et_pb_toggle_content p {
		font-size: 1em !important;
	}

}

@media only screen and (min-width: 981px) and (max-width:1280px) {

	body {
		font-size: 17px !important;
	}

	p, .et_pb_toggle_content p, .wpr-toggle .wpr-faq-bottom,body .et_pb_row .wpr-home-blog .post-content, .wpr-column, .wpr-toggle .et_pb_toggle_title h4, p.wpr-subitle, .wpr-faq .et_pb_toggle_title, .wpr-faq .et_pb_toggle_content p {
		font-size: 1.1em !important;
	}
	
	.wpr-team-third-column p{
		font-size: 0.9em !important;
	}

	.wpr-rev-button {
		font-size: 24px;
	}

	.wpr-rev-title,
	.wpr-rev-custom-header {
		font-size: 43px !important;
	}
	
	.wpr-platform-metrics .et_pb_button_module_wrapper .et_pb_button,
	.wpr-platform-metrics .et_pb_button_module_wrapper .et_pb_button:hover{
		padding-left: 18px !important;
		padding-right: 18px !important;
		font-size: 18px !important;
	}

}

@media only screen and (min-width: 768px) and (max-width:980px) {

	body {
		font-size: 17px !important;
	}

	p, .et_pb_toggle_content p, .wpr-toggle .wpr-faq-bottom,body .et_pb_row .wpr-home-blog .post-content, .wpr-column, .wpr-toggle .et_pb_toggle_title h4, p.wpr-subitle, .wpr-faq .et_pb_toggle_title, .wpr-faq .et_pb_toggle_content p {
		font-size: 1.2em !important;
	}

	.wpr-rev-title {
		font-size: 68px !important;
	}


}

@media only screen and (max-width: 768px) {

	body {
		font-size: 15px !important;
	}

	p, .et_pb_toggle_content p, .wpr-toggle .wpr-faq-bottom,body .et_pb_row .wpr-home-blog .post-content, .wpr-column, .wpr-toggle .et_pb_toggle_title h4, p.wpr-subitle, .wpr-faq .et_pb_toggle_title, .wpr-faq .et_pb_toggle_content p {
		font-size: 1.2em !important;
		line-height: 1.5em !important;
		;
	}

}

.hubspot_form form .actions input[type="submit"]{
	font-size: 24px;
	font-weight: 300;
	padding: 14px 55px;
	height: auto;
}

body .wpr-apply-button .et_pb_button,
body .wpr-apply-button .et_pb_button:hover{
	font-size: 24px;
	font-weight: 300;
	padding: 8px 55px;
}


@media (min-width: 576px) and (max-width: 980px) {
	
	.hubspot_form form .actions input[type="submit"],
	body .wpr-apply-button .et_pb_button,
	body .wpr-apply-button .et_pb_button:hover{
		font-size: 19px;
		padding: 6px 30px;
	}
}




@media (max-width: 576px){
	
	.hubspot_form form .actions input[type="submit"],
	body .wpr-apply-button .et_pb_button,
	body .wpr-apply-button .et_pb_button:hover{
		font-size: 16px;
		padding: 6px 30px;
	}
}


/* Header */

@media only screen and (min-width: 981px) {

	#logo {
		max-height: 68px !important;
	}

	#main-header {
		padding: 0 10px;
	}

	.et_header_style_left #et-top-navigation nav>ul>li>a,
	.et_header_style_split #et-top-navigation nav>ul>li>a {
		padding-bottom: 30px !important;
	}

	#top-menu>li {
		padding-right: 40px;
	}

	#top-menu>li:last-of-type {
		padding-right: 0;
	}

	#top-menu li a {
		font-weight: 300 !important;
		font-size: 1em !important;
		color: #383838 !important;
	}

}

@media only screen and (max-width: 980px) {
	#main-header .logo_container {
		padding-left: 16px;
	}

	#main-header #et-top-navigation {
		padding-right: 16px;
	}


}

@media only screen and (min-width: 1140px) {

	#top-menu li {
		padding-right: 72px;
	}

	#top-menu li a {
		font-size: 1.3em !important;
	}
}

/* Navigation */

.et_header_style_left #et-top-navigation nav>ul>li.wpr-border>a,
.et_header_style_split #et-top-navigation nav>ul>li.wpr-border>a {
	border: solid 1px #B5B4B4;
	border-radius: 6px;
	padding: 20px 60px !important;
}

#et-secondary-nav .menu-item-has-children.wpr-border>a:first-child:after,
#top-menu .menu-item-has-children.wpr-border>a:first-child:after {
	right: 30px;
	top: 20px;
}

#et-secondary-nav .menu-item-has-children>a:first-child,
#top-menu .menu-item-has-children>a:first-child {
	padding-right: 26px;
}

#et-secondary-nav .menu-item-has-children>a:first-child:after,
#top-menu .menu-item-has-children>a:first-child:after {
	font-size: 23px;
}

#top-menu li li {
	padding: 0;
}

#et-secondary-nav .menu-item-has-children>a:first-child:after,
#top-menu .menu-item-has-children>a:first-child:after {
	background: url(img/menu-arrow.svg) center !important;
	background-size: cover;
	background-repeat: no-repeat !important;
	font-size: 0;
	width: 13px;
	height: 13px;
}

/* Mobile Nav */

#mobile_menu a{
	text-decoration: none;
}

.mobile_menu_bar:before {
	color: #8E8E8E !important;
	font-size: 60px;
}


/* Hero Section */

.mobile-nav-logo {
	display: none !important;
}

@media only screen and (max-width: 980px) {
	.mobile-nav-logo {
		display: block !important;
	}
}

.wpr-gradient {
	filter: alpha(opacity=60);
	-moz-opacity: 0.6;
	-khtml-opacity: 0.6;
	opacity: 0.6;
}

.wpr-corner {
	background: url(img/corner.svg) bottom right !important;
}


.wpr-corner-top {
	background: url(img/corner-top.svg) top right !important;
}

.wpr-computer-svg {
	background: url(img/computer-below.svg) bottom right;
}

.wpr-particle {
	background: url(img/particle.svg) bottom right;
}

.wpr-cardio {
	background: url(img/cardio.svg) bottom left;
}

.wpr-ai {
	background: url(img/ai.svg) bottom left;
}

.wpr-cells {
	background: url(img/cells.svg) bottom left;
}

.wpr-dbt {
	background: url(img/dbt.svg) bottom left;
}

.wpr-video {
	background: url(img/video.svg) bottom left;
}

.wpr-photography {
	background: url(img/photography.svg) bottom left;
}

.wpr-company-icon-2 {
	background: url(img/company-icon-2.svg) bottom left;
}

.wpr-company-icon-3 {
	background: url(img/company-icon-3.svg) bottom left;
}

/* IE 11 Hack to show SVG elements */
_:-ms-fullscreen,
:root .et-pb-before-scroll-animation {
	opacity: 100 !important;
}

_:-ms-fullscreen,
:root .wpr-video {
	top: -100px !important;
	left: -50px !important;
}

/* Hero Icons */

@media only screen and (max-width:1540px) {

	.wpr-cardio svg,
	.wpr-cells svg,
	.wpr-dbt svg,
	.wpr-corner svg,
	.et_pb_row_8 svg {
		-webkit-transform: scale(0.8) translateY(50px);
		-ms-transform: scale(0.8) translateY(50px);
		transform: scale(0.8) translateY(50px);
		-moz-transform: scale(0.8) translateY(50px);
		-o-transform: scale(0.8) translateY(50px);
	}

	.wpr-cardio svg {
		-webkit-transform: scale(0.5) translate(-25%, -25%);
		-ms-transform: scale(0.5) translate(-25%, -25%);
		transform: scale(0.5) translate(-25%, -25%);
	}

}

@media only screen and (max-width:580px) {

	.wpr-cardio svg,
	.wpr-cells svg,
	.wpr-dbt svg,
	.wpr-corner svg,
	.et_pb_row_8 svg {
		-webkit-transform: scale(0.6) translateY(130px);
		-ms-transform: scale(0.6) translateY(130px);
		transform: scale(0.6) translateY(130px);
	}

}


/* Button */

.et_pb_button {
	border: none;
	letter-spacing: 0.4px;
	font-weight: 300;
}


/* Speed Section */

.wpr-column-two .et_pb_column.et_pb_column_1_4 {
	margin-bottom: 0;
}

@media (min-width: 980px) and (max-width: 1300px) {

	.wpr-column-two .et_pb_image_0 {
		width: 70%;
		top: -20px;
		right: -50px;
	}

}

@media only screen and (max-width: 380px) {

	.wpr-column-two h2 {
		font-size: 2em !important;
	}

	.wpr-column-two h3 {
		font-size: 1.3em !important;
	}

}

@media only screen and (min-width: 980px) and (max-width: 1380px) {
	.wpr-slider.et_pb_section {
		margin-top: 0 !important;
	}
}

@media only screen and (max-width: 585px) {

	.et_pb_column_4_4 .et_pb_module.et_pb_image {
		margin-bottom: 0;
	}

}


@media only screen and (min-width: 1280px) and (max-width: 1540px) {
	#lottie {
		-webkit-transform: scale(0.8);
		-ms-transform: scale(0.8);
		transform: scale(0.8);
		-webkit-transform-origin: right top;
		-ms-transform-origin: right top;
		transform-origin: right top;
	}

}

@media only screen and (min-width: 980px) and (max-width: 1280px) {
	#lottie {
		-webkit-transform: scale(0.6);
		-ms-transform: scale(0.6);
		transform: scale(0.6);
		-webkit-transform-origin: right top;
		-ms-transform-origin: right top;
		transform-origin: right top;
	}

}

.wpr-column-two h3 {
	padding-bottom: 0;
}

.wpr-column-two .et_pb_column_1_4 {
	width: 35% !important;
	margin-right: 0;
}

.wpr-column-two .et_pb_column_3_4 {
	width: 65% !important;
}


@media only screen and (min-width: 768px) and (max-width:980px) {

	.wpr-home-cta-top .et_pb_row_11.et_pb_row .et_pb_column,
	.wpr-home-cta-top .et_pb_row_15.et_pb_row .et_pb_column {
		width: 50% !important;
	}

}


/* Slider */

.wpr-rev-button {
	-webkit-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}


.tparrows.tp-leftarrow:before,
.tparrows.tp-rightarrow:before {
	content: "" !important;
}


@media only screen and (max-width: 321px) {

	.tparrows.tp-leftarrow:before,
	.tparrows.tp-rightarrow:before {
		display: none;
	}

}

@media (max-width: 480px) {
	.wpr-rev-button {
		padding: 12px 0 !important;
	}
}

@media (max-width: 330px) {

	.wpr-rev-button {
		font-size: 14px !important;
	}

}


@media (max-width: 400px) {

	.wpr-rev-body {
		max-width: 335px !important;
	}

}



@media (max-width: 360px) {

	.wpr-rev-body {
		max-width: 305px !important;
		font-size: 14px !important;
	}

	wpr-rev-body,
	#wpr-slider-module rs-layer.wpr-rev-button {
		font-size: 13px !important;
		padding: 6px 0 !important;
	}

}


rs-fullwidth-wrap .uranus.tp-leftarrow:before {
	background: url(img/left-arrow.svg) center;
	background-size: 44% !important;
	background-repeat: no-repeat;
	content: "";
}

rs-fullwidth-wrap .uranus.tp-rightarrow:before {
	background: url(img/right-arrow.svg) center;
	background-size: 44% !important;
	background-repeat: no-repeat;
	content: "";
}

.wpr-rev-row {
	padding-left: 7%;
}

@media (max-width: 360px) {

	.wpr-rev-body,
	p {
		font-size: 14px !important;
		line-height: 23px !important;
	}

	#slider-5-slide-35-layer-2 {
		font-size: 20px !important;
		line-height: 23px !important;
	}


	#slider-5-slide-35-layer-52 {
		-webkit-transform: translateY(10px) !important;
		    -ms-transform: translateY(10px) !important;
		        transform: translateY(10px) !important;
	}


}

@media (min-width: 380px) and (max-width:570px) {

	#slider-5-slide-35-layer-51 {
		-webkit-transform: translateY(-25px) !important;
		    -ms-transform: translateY(-25px) !important;
		        transform: translateY(-25px) !important;
	}

}


b {
	font-weight: 800;
}

@media only screen and (min-width: 767px) {

	.wpr-rev-button i {
		-webkit-transition: all 300ms ease;
		-o-transition: all 300ms ease;
		transition: all 300ms ease;
		opacity: 0;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: alpha(opacity=0);
		-moz-opacity: 0;
		-khtml-opacity: 0;
		-webkit-transform: translateX(-30px);
		-ms-transform: translateX(-30px);
		transform: translateX(-30px);
	}

}


.wpr-rev-button:hover i {
	-webkit-transform: translateX(10px);
	-ms-transform: translateX(10px);
	transform: translateX(10px);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	-khtml-opacity: 1;
	-moz-opacity: 1;
	-webkit-opacity: 1;
	filter: alpha(opacity=100);
}

.wpr-rev-button:hover {
	letter-spacing: 2px !important;
}

@media only screen and (max-width: 380px) {

	.wpr-rev-button i {
		display: none !important;
	}

	.wpr-rev-button:hover {
		letter-spacing: 1px !important;
	}

}

.tparrows:before {
	color: #484848;
}

.tp-bullet-title {
	display: none;
}


@media only screen and (max-width: 480px) {

	.tp-rightarrow {
		-webkit-transform: matrix(1, 0, 0, 1, -70, -50) !important;
		-ms-transform: matrix(1, 0, 0, 1, -70, -50) !important;
		transform: matrix(1, 0, 0, 1, -70, -50) !important;
		left: 100% !important;
	}

	.tp-leftarrow {
		-webkit-transform: matrix(1, 0, 0, 1, 20, -50) !important;
		-ms-transform: matrix(1, 0, 0, 1, 20, -50) !important;
		transform: matrix(1, 0, 0, 1, 20, -50) !important;
		left: 0px !important;
	}

}

/* Footer */

footer {
	font-weight: 200;
}

footer .container {
	width: 100%;
	max-width: 100%;
	padding: 0 7%;
}

.footer-widget .menu a {
	-webkit-transition: ease 0.5s;
	-o-transition: ease 0.5s;
	transition: ease 0.5s;
}

.footer-widget .menu a:hover {
	color: #E6E5E5 !important;
}


.footer-widget {
	color: #A3A3A3 !important;
	font-size: 0.96em;
}

.et_pb_gutters3.et_pb_footer_columns_1_4__3_4 .footer-widget:nth-child(2) .fwidget {
	float: right;
}

@media (min-width: 981px) {

	.et_pb_gutters3.et_pb_footer_columns_1_4__3_4 .footer-widget:first-child {
		width: 25.875%;
	}

	.et_pb_gutters3 .footer-widget {
		margin-right: 0.5%;
	}

}


.wpr-custom-text {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

@media (max-width: 480px) {
	.wpr-custom-text {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
}


.copyright-sign {
	display: inline-block;
	background: url(img/copyright-sign.svg);
	background-size: contain;
	background-repeat: no-repeat;
	width: 1em;
	height: 1em;
	vertical-align: middle;
}


/* Social Media */

.et-social-facebook a.icon:before {
	content: "\e0c1";
}

.et_pb_social_icon .icon {
	width: 75px !important;
	height: 75px !important;
}


.et_pb_social_icon .icon:before {
	line-height: 75px !important;
	height: 75px !important;
	width: 75px !important;
}

.team-section .et_pb_social_icon .icon {
	width: 40px !important;
	height: 40px !important;
}

.team-section .et_pb_social_icon .icon:before {
	line-height: 40px !important;
	height: 40px !important;
	width: 40px !important;
}

.team-section .et-social-rss a.icon:before {
	content: "\e076";
}


/* Footer Energy Bar */

#main-footer {
	margin-top: 140px;
}

#main-footer:before {
	position: absolute;
	top: -140px;
	width: 100%;
	height: 180px;
	background: url(img/footer-energy-bar.svg) bottom right;
	background-size: 100% !important;
	background-repeat: no-repeat;
	content: "";
	z-index: -1;
}

@media only screen and (min-width: 1920px) {
	#main-footer:before {
		background: url(img/footer-energy-bar.svg) top right;
	}
}


@media only screen and (max-width: 480px) {

	#main-footer:before {
		height: 170px;
	}

	.footer-widget .widget_text {
		width: 100%;
		text-align: center;
	}

	.footer-widget:last-child {
		display: none;
	}


}

#footer-widgets .footer-widget li {
	float: left;
	padding-left: 0;
}

#footer-widgets .footer-widget li a {
	border-right: solid 1px #A3A3A3;
	padding: 0 1em;
	font-size: 0.96em;
}

#footer-widgets .footer-widget li:last-child a {
	border: 0;
}

.footer-widget .menu a {
	color: #A3A3A3 !important;
}

#footer-widgets .footer-widget li:before {
	display: none;
}

@media only screen and (max-width: 768px) {

	.footer-widget {
		text-align: center;
	}

}

#footer-widgets {
	padding-top: 40px;
}

#footer-bottom {
	display: none;
}

.et_pb_gutters3 .footer-widget {
	margin-bottom: 35px;
}

#main-footer {
	position: relative;
}


@media only screen and (max-width: 768px) {

	#main-footer:before {
		top: -150px;
	}

}

@media only screen and (max-width: 580px) {

	#main-footer:before {
		top: -160px;
	}

}

/* Pop-up */

.YouTubePopUp-Close {
	top: -10px !important;
	left: unset !important;
	right: 0 !important;
}


.YouTubePopUp-Close:before {
	font-size: 46px;
}

.vp-flex {
	max-width: 1000px;
	height: 600px;
}

.vp-vt-youtube:before {
	background: url(img/visage-logo.svg) left !important;
	background-repeat: no-repeat !important;
	background-size: 30px !important;
	content: "Visage Imaging - Platform for the Future - Powered by Speed.";
	color: #FFF;
	position: relative;
	top: -12px;
	display: inline-block;
	padding: 0 40px;
}


/* Blog, Event, Tweet Section */

.wpr-event-blog strong {
	font-weight: 600;
}

@media only screen and (min-width: 981px) and (max-width: 1280px) {

	.wpr-home-blog-event-twitter .et_pb_row_14 .et_pb_column_1_3,
	.wpr-home-blog-event-twitter .et_pb_row_15 .et_pb_column_1_3 {
		width: 32% !important;
	}

	.wpr-home-blog-event-twitter .et_pb_row_14 .et_pb_column,
	.wpr-home-blog-event-twitter .et_pb_row_15 .et_pb_column {
		margin-right: 2% !important;
	}

	.wpr-home-blog-event-twitter .et_pb_row_14 .et_pb_column:last-child,
	.wpr-home-blog-event-twitter .et_pb_row_15 .et_pb_column:last-child {
		margin-right: 0% !important;
	}

	.wpr-home-blog-event-twitter .et_pb_column_20,
	.wpr-home-blog-event-twitter .et_pb_column_21,
	.wpr-home-blog-event-twitter .et_pb_column_22 {
		padding: 25px !important;
	}

}


/* Home Blog */


.wpr-home-blog .post-content a.more-link {
	display: inline-block;
	margin-top: 30px;
	font-weight: 600;
}

.wpr-home-blog .et_pb_post {
	margin-bottom: 0;
}


/* Home Event */

.wpr-event-blog a {
	text-decoration: underline;
}


/* Home Twitter */

#ctf .ctf-item {
	padding-bottom: 80px;
}

#ctf .ctf-item:last-child {
	padding-top: 50px;
}

.ctf-tweets .ctf-item {
	position: relative;
}

.ctf-tweet-meta {
	position: absolute;
	bottom: 40px;
	font-weight: 300;
}

@media only screen and (max-width: 785px) {

	.ctf-tweet-meta {
		left: 0;
	}

}


#ctf.ctf-styles .ctf-twitterlink {
	font-size: 1em !important;
	color: #8329AA !important;
}

#ctf.ctf-styles .ctf-tweet-meta a {
	color: #8329AA !important;
}

#ctf .ctf-item {
	border-color: #A1AFCE !important;
}






/* Mobile Menu */


/* Nesting Menu */


/* when mobile menu is open, change hamburger icon to x icon */

.mobile_nav.closed .mobile_menu_bar:before {
	display: none;
}

.mobile_nav.closed .mobile_menu_bar {
	top: 0;
	right: 0;
	content: "" !important;
	background: url(img/nav-icon.svg) center !important;
	background-size: cover;
	background-repeat: no-repeat !important;
	text-indent: -999;
	display: inline-block;
	width: 60px;
	height: 80px;
}

#et_mobile_nav_menu .mobile_nav.opened .mobile_menu_bar::before {
	content: '\4d';
}

/* makes sub sub menu icon be right arrow instead of down arrow */

#top-menu .menu-item-has-children .menu-item-has-children>a:first-child::after,
#et-secondary-nav .menu-item-has-children .menu-item-has-children>a:first-child::after {
	content: '5';
}

/* - mobile menu toggling elements, injected via jQuery - */
/* make menu list item be relative, to be able to position toggle within this item */

#main-header #mobile_menu.et_mobile_menu .menu-item-has-children {
	position: relative;
}

/* the new toggle element, which is added via jQuery */

#main-header #mobile_menu.et_mobile_menu .sub-menu-toggle {
	position: absolute;
	z-index: 1;
	width: 36px;
	height: 36px;
	line-height: 36px;
	border-radius: 50%;
	top: 28px;
	right: 0px;
	cursor: pointer;
	text-align: center;
}

/* the new toggle element when popped */

#main-header #mobile_menu.et_mobile_menu .sub-menu-toggle.popped {
	background-color: rgba(255, 255, 255, 0.2);
}

/* toggle icon */

#main-header #mobile_menu.et_mobile_menu .sub-menu-toggle::before {
	font-family: "ETmodules" !important;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 36px;
	font-size: 24px;
	text-transform: none;
	speak: none;
	content: '\33';
	color: #fff;
}

/* toggle icon when triggered */

#main-header #mobile_menu.et_mobile_menu .sub-menu-toggle.popped::before {
	content: '\32';
}

/* hide sub menus by default */

#main-header #mobile_menu.et_mobile_menu .sub-menu-toggle~ul.sub-menu {
	display: none !important;
	padding-left: 0;
}

/* show sub menu when triggered via jQuery toggle, and add slight bg color */

#main-header #mobile_menu.et_mobile_menu .sub-menu-toggle.popped~ul.sub-menu {
	display: block !important;
}

/* remove sub menu list item left padding, since padding will be on anchors */

#main-header #mobile_menu.et_mobile_menu li li {
	padding-left: 0;
}

/* adjust mobile menu anchors side paddings */

#main-header #mobile_menu.et_mobile_menu li a {
	padding-left: 20px;
	padding-right: 20px;
}

/* indent sub sub menus further */

#main-header #mobile_menu.et_mobile_menu li li li a {
	padding-left: 60px;
	padding-right: 20px;
}

#main-header #mobile_menu.et_mobile_menu .menu-item-has-children>a {
	background-color: transparent;
	font-weight: inherit;
}

/* make the current page's mobile menu link be different */

#main-header #mobile_menu.et_mobile_menu li.current-menu-item>a {
	font-weight: bolder;
}

/****** Code Style: Slide-in Gradient ******/

/* Font Awesome */
.fa {
	margin-right: 15px;
}

@media only screen and (max-width: 980px) {
	#mobile_menu {
		display: block !important;
		min-height: 100vh;
		height: 100%;
		top: 0;
		right: 0;
		position: fixed;
		z-index: 9998;
		overflow: scroll;
		border-top: none;
		padding-top: 15px !important;
	}

	.admin-bar #mobile_menu {
		padding-top: 60px !important;
	}


	.et_mobile_menu li a {
		color: #fff !important;
		width: 100%;
		float: left;
		border: none !important;
		text-align: left;
		margin: 5px 10px;
		-webkit-transition: .2s;
		-o-transition: .2s;
		transition: .2s;
		font-size: 1.1em !important;
	}

	.et_mobile_menu .sub-menu li a {
		font-weight: 200;
		color: #CCC;
	}

	li ul.sub-menu {
		margin-left: 25px;
	}


	.mobile_nav ul#mobile_menu .current_page_item>a {
		color: #fff !important;
		background-color: rgba(255, 255, 255, 0.1);
		border-radius: 30px;
		padding-left: 20px;
	}

	.mobile_nav.closed #mobile_menu {
		background: #383838;
		-webkit-transform: translateX(100%);
		-ms-transform: translateX(100%);
		transform: translateX(100%);
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		-webkit-transition: -webkit-transform 0.4s 0s;
		transition: -webkit-transform 0.4s 0s;
		transition: transform 0.4s 0s, -webkit-transform 0.4s 0s;
	}

	.mobile_nav.opened #mobile_menu {
		background: #383838;
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
		-webkit-overflow-scrolling: touch;
		-webkit-transition: -webkit-transform 0.4s 0s;
		transition: -webkit-transform 0.4s 0s;
		transition: transform 0.4s 0s, -webkit-transform 0.4s 0s;
	}

	#main-header .container.clearfix.et_menu_container {
		width: 100%;
	}

	.mobile_menu_bar:before {
		color: #1b1d1e !important;
	}

	.mobile_nav.opened .mobile_menu_bar:before {
		display: none;
	}

	.mobile_nav.opened .mobile_menu_bar {
		top: -8px;
		right: 0;
		content: "" !important;
		background: url(img/nav-icon-close.svg) center !important;
		background-size: cover;
		background-repeat: no-repeat !important;
		text-indent: -999;
		display: inline-block;
		width: 60px;
		height: 80px;
	}
}

@media only screen and (max-width: 980px) {

	.et_header_style_split .mobile_menu_bar,
	.et_header_style_left .mobile_menu_bar {
		z-index: 9999;
	}

	#et-top-navigation {
		padding-right: 5px;
	}
}

@media only screen and (min-width: 481px) {
	#mobile_menu {
		width: 100%;
	}
}

@media only screen and (max-width: 480px) {
	#mobile_menu {
		width: 100%;
	}
}


/* Social Media */


@media only screen and (min-width: 980px) {
	.wpr-nav-bottom {
		display: none;
	}
}


@media only screen and (max-width: 980px) {

	.wpr-nav-bottom {
		display: -webkit-inline-box;
		display: -ms-inline-flexbox;
		display: inline-flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-flow: column;
		flex-flow: column;
		margin-top: 50px;
		position: relative;
		left: 50%;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);
	}

	.wpr-nav-bottom p {
		font-size: 16px;
		font-weight: 200;
		color: #A3A3A3;
		text-align: center;
	}

	.wpr-nav-social {
		display: block;
		margin-bottom: 40px;
	}

	.wpr-nav-social li {
		float: left;
		width: 65px;
		height: 65px;
		background: #9F9F9F;
		border-radius: 50%;
		text-align: center !important;
		margin-right: 30px;
	}

	.wpr-nav-social li:last-child {
		margin-right: 0;
	}

	.wpr-nav-social li a {
		padding: 16px 0 0 0 !important;
		margin: 0;
		text-align: center;
		display: inline-block !important;
	}

	.wpr-nav-social li:first-child {
		padding-top: 0;
	}


	.wpr-nav-social li a:before {
		font-family: ETmodules !important;
		speak: none;
		font-style: normal;
		font-weight: 400;
		-webkit-font-feature-settings: normal;
		font-feature-settings: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-shadow: 0 0;
		font-size: 36px;
		color: #383838;
	}

	.wpr-nav-social li a.twitter:before {
		content: "\e094";
	}

	.wpr-nav-social li a.facebook:before {
		content: "\e0c1";
	}

	.wpr-nav-social li a.linkedin:before {
		content: "\e09d";
	}

}

/* Mobile Fix  */

.et-pb-before-scroll-animation,
.et_had_animation,
.et_animated,
.et-waypoint:not(.et_pb_counters) {
	opacity: 1;
}

/* divider */

.wpr-home-cta-top.section_has_divider.et_pb_top_divider .et_pb_top_inside_divider,
.wpr-home-cta.section_has_divider.et_pb_top_divider .et_pb_top_inside_divider,
.wpr-home-cta-bottom.section_has_divider.et_pb_top_divider .et_pb_top_inside_divider {
	z-index: 1 !important;
}

.wpr-home-cta-top.section_has_divider.et_pb_top_divider .et_pb_top_inside_divider {
	border-top: 150px solid #FFF;
	border-right: 100vw solid transparent;
}

.wpr-home-cta.section_has_divider.et_pb_top_divider .et_pb_top_inside_divider {
	border-top: 150px solid #FFF;
	border-right: 100vw solid transparent;
}

.wpr-home-cta-bottom.section_has_divider.et_pb_top_divider .et_pb_top_inside_divider {
	border-top: 150px solid #bfee43 !important;
	border-right: 100vw solid transparent;
}

.et_pb_section_7.section_has_divider.et_pb_top_divider .et_pb_top_inside_divider {
	border-top: 150px solid #c0ee43 !important;
	border-right: 100vw solid transparent;
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	.wpr-home-cta-top.section_has_divider.et_pb_top_divider .et_pb_top_inside_divider {
		border-top: 100px solid #FFF !important;
	}

	.wpr-home-cta.section_has_divider.et_pb_top_divider .et_pb_top_inside_divider {
		border-top: 100px solid #FFF !important;
	}

	.wpr-home-cta-bottom.section_has_divider.et_pb_top_divider .et_pb_top_inside_divider {
		border-top: 100px solid #bfee43 !important;
	}

	.et_pb_section_7.section_has_divider.et_pb_top_divider .et_pb_top_inside_divider {
		border-top: 100px solid #c0ee43 !important;
	}
}

@media only screen and (max-width: 480px) {
	.wpr-home-cta-top.section_has_divider.et_pb_top_divider .et_pb_top_inside_divider {
		border-top: 60px solid #FFF !important;
	}

	.wpr-home-cta.section_has_divider.et_pb_top_divider .et_pb_top_inside_divider {
		border-top: 60px solid #FFF !important;
	}

	.wpr-home-cta-bottom.section_has_divider.et_pb_top_divider .et_pb_top_inside_divider {
		border-top: 60px solid #bfee43 !important;
	}

	.et_pb_section_7.section_has_divider.et_pb_top_divider .et_pb_top_inside_divider {
		border-top: 60px solid #c0ee43 !important;
	}
}

/* Breadcrumb */
.wpr-breadcrumb a {
	color: #8329AA;
}

.wpr-breadcrumb a {
	margin: 0 10px;
}

.wpr-breadcrumb a:first-child {
	margin-left: 0;
}

/* Company Page */

.company-section a {
	color: #8329AA;
	font-weight: 500;
	text-decoration: underline;
	margin-top: 10px;
}

/* Investor */

.wpr-big-heading-2 h2 {
	font-weight: 300;
}



.wpr-home-blog-event-twitter a,
#ctf.ctf-styles .ctf-tweet-meta a {
	color: #36b049 !important;
}


/* Platform homepage */

.platform-navigation .et_pb_button_module_wrapper {
	display: inline-block;
	margin: 0 35px;
}

.platform-navigation .et_pb_column {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}


.hubspot_form.visage-7 .form-columns-0,
.hubspot_form.visage-7 .form-columns-1,
.hubspot_form.visage-7 .form-columns-2 {
    max-width: 997px;
    width: 90%;
	margin: 0px auto 30px;
}


.hubspot_form.visage-7 .hs-main-font-element{
	text-align:center;
	padding: 60px 12%;
	font-size: 1.2em!important;
}

.hubspot_form.visage-7 .hs-error-msgs .hs-main-font-element{
	padding: 0;
	text-align: left;
	font-size: 0.8em!important;
}


.hubspot_form .form-columns-1 .hs-error-msgs li label, .hubspot_form .form-columns-2 .hs-error-msgs li label, .hubspot_form form .hs_error_rollup li label{
	font-size: 0.8em;
    color: #FF0000;
}
.hubspot_form .form-columns-1 .hs-error-msgs, .hubspot_form .form-columns-2 .hs-error-msgs, .hubspot_form form .hs_error_rollup {
    padding-left: 30px;
}

.hubspot_form form input.error{
	border: solid 1px #FD0303 !important;
}

.hubspot_form .form-columns-2 input[type="text"]{
	max-width: 100%;
}


.wpr-toggle .et_pb_toggle{
background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F2F6FE)) !important;
background-image: -o-linear-gradient(top, #FFFFFF 0%, #F2F6FE 100%) !important;
background-image: linear-gradient(180deg, #FFFFFF 0%, #F2F6FE 100%) !important;
}

.wpr-toggle .et_pb_toggle_open,
.wpr-toggle .et_pb_toggle_close{
	padding:0;
}

.wpr-toggle .et_pb_toggle_title,
.wpr-toggle .et_pb_toggle_content{
	padding:20px;
}

.et_pb_toggle_content p{
	font-size: 0.8em !important;
}

.wpr-toggle .et_pb_toggle_title{
	padding: 50px;
	padding-left: calc( 6em + 30px );
}

.wpr-faq.wpr-toggle .et_pb_toggle_title:after{
	content:"";
	background: url(img/question.png);
	background-size: cover;
	height: 5em;
	width: 5em;
	position: absolute;
	left: 30px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
}

@media (max-width: 480px) { 

	.wpr-faq.wpr-toggle .et_pb_toggle_title:after{
	content:"";
	background: url(img/question.png);
	background-size: cover;
	height: 40px;
	width: 40px;
	position: absolute;
	left: 50%;
	top: 10px;
	-webkit-transform: translateY(0%);
	    -ms-transform: translateY(0%);
	        transform: translateY(0%);
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
}
	
	.wpr-toggle .et_pb_toggle_title{
		padding: 20px;
		padding-top: 70px;
	}



}

.wpr-toggle .et_pb_toggle_title h4,
p.wpr-subitle{
    color: #383838!important;
}


.wpr-vacancy-header{
clear: both;}

.wpr-vacancy-header .wpr-vacancy-thumbnail,
.wpr-vacancy-header .et_pb_toggle_title{
	float: left;
}

.wpr-vacancy-header .wpr-vacancy-thumbnail{
	padding: 40px 20px 40px 30px;
}

.wpr-vacancy-header .wpr-vacancy-thumbnail{
width: 150px;
}

.wpr-vacancy-header .et_pb_toggle_title{
		width: 100%;
		padding: 40px 30px 40px 30px;
}

.wpr-vacancy-header .wpr-vacancy-thumbnail + .et_pb_toggle_title{
	width: calc(100% - 150px);
	padding: 40px 30px 40px 20px;
}


@media (max-width: 768px) { 

.wpr-vacancy-header .wpr-vacancy-thumbnail + .et_pb_toggle_title {
	width: 100%;
	padding-top: 0;
}

}



.wpr-toggle .wpr-faq-bottom{
	display: block;
	clear: both;
	background: #FFF;
	padding: 10px 20px;
	padding-top: 5px;
	font-size: 0.93em;
	color: #8329AA;
	text-decoration: underline;
}

.wpr-faq-bottom:hover{
	cursor: pointer;
}

.et_pb_toggle .et_pb_toggle_title{
	cursor:default;
}

.wpr-toggle .et_pb_toggle_content{
	background: #FFF;
}

.wpr-toggle .et_pb_toggle_title:before{
    font-size: 24px;
    color: #8329AA;
    bottom: -35px !important;
		top: auto !important;
    right: 20px !important;
}

.wpr-add-open-icon .et_pb_toggle_title:before{
	content: "\e04f" !important;
}


@media (min-width: 1530px) { 


.wpr-toggle .et_pb_toggle_title:before{
		bottom: -41px !important;
}

}

@media (max-width: 1530px) { 

	.wpr-toggle .et_pb_toggle_title:before{
		font-size: 20px;
		bottom: -30px !important;
	}

}



.wpr-vacancy-flags{
	position: absolute;
	right: 30px;
	top:20px
}


.wpr-vacancy-flags img{
	float: left;
	padding-left: 20px;
}

.wpr-vacancy-flags img:first-child{
padding-left: 0;
}

.wpr-vacancy-flags img{
height: 40px;
}

@media (max-width: 768px) { 

.wpr-vacancy-flags{
	position: relative !important;
	right: auto;
	top: auto;
	display: inline-block;
	margin-bottom: 20px;
}

.wpr-vacancy-flags img{
height: 30px;}

}




.wpr-toggle  .et_pb_toggle{
    background-image: -o-linear-gradient(278deg, #EBF1FF 0%, #FFFFFF 100%);
    background-image: linear-gradient(172deg, #EBF1FF 0%, #FFFFFF 100%);
  -webkit-box-shadow: 0px 2px 20px 0px rgba(119,153,255,0.18);
          box-shadow: 0px 2px 20px 0px rgba(119,153,255,0.18);
	border-radius: 6px 6px 6px 6px;
	border:none;
}

.wpr-career .et_pb_toggle{
	margin-bottom: 70px !important;
}

.wpr-career .et_pb_toggle:last-child{
	margin-bottom: 0 !important;
}

.wpr-career .wpr-column{
	padding: 40px 40px 80px 150px;
}

@media (max-width: 768px) { 

	.wpr-career .wpr-column{
		padding: 40px 0 20px 0;
	}

}


.wpr-career .wpr-column h2,
.wpr-career .wpr-column h3,
.wpr-career .wpr-column h4,
.wpr-career .wpr-column h5{
	font-size: 0.93em !important;
	font-weight: 500;
	margin-top: 40px;
	margin-bottom: 20px;
}

.wpr-career .wpr-column ul li{
	margin-bottom: 10px;
	line-height: 1.3em;
}

body .wpr-apply-button .et_pb_button{
    background: #FFF;
    border: solid 1px #8c16d6 !important;
    margin-top: 40px;
    color: #8c16d6 !important;
    border-radius: 30px;
}

body .wpr-apply-button .et_pb_button:hover{
	background: #FFF;
    border: solid 1px #8c16d6 !important;
    margin-top: 40px;
    color: #8c16d6 !important;
    border-radius: 30px;
}


.green-cta-fix .et_pb_top_inside_divider{
	background-image:url(data:image/svg+xml;base64,PHN2ZyAgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgMTI4MCAxNDAiIGhlaWdodD0iMTIwcHgiIHdpZHRoPSIxMDAlIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2MwZWU0Mzt9PC9zdHlsZT48L2RlZnM+PHBhdGggY2xhc3M9ImNscy0xIiBkPSJNMTI4MCwwSDBWMTQwWiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCAwKSIvPjwvc3ZnPg==) !important;
}


.counter{
	line-height:1em;
}


@media (max-width: 330px) {

	.wpr-platform-metrics .et_pb_button{
		max-width: 260px !important;
	}

}



@media (min-width: 330px) and (max-width: 900px) {

	.wpr-platform-metrics .et_pb_button{
		min-width: 300px;
	}

}



@media (min-width: 900px) {

	.wpr-platform-metrics .et_pb_button{
		min-width: 320px;
	}

}



@media (min-width: 1200px) {

	.wpr-platform-metrics .et_pb_button{
		min-width: 410px;
	}

}


@media (min-width: 1500px) {

	.wpr-platform-metrics .et_pb_button{
		min-width: 500px;
	}

}

.wpr-plus-metric-prefix .wp_cup_prefix{
	display: inline-block;
    -webkit-transform: translateY(-0.4em);
        -ms-transform: translateY(-0.4em);
            transform: translateY(-0.4em);
    font-size: 75%;
}

.wpr-percent-metric-suffix .wp_cup_suffix{
	display: inline-block;
    -webkit-transform: translateY(-0.3em);
        -ms-transform: translateY(-0.3em);
            transform: translateY(-0.3em);
    font-size: 75%;
}

.wpr-implementation .wp_cup_prefix{
    font-size: 40%;
    display: inline-block;
    -webkit-transform: translateY(-0.5em);
        -ms-transform: translateY(-0.5em);
            transform: translateY(-0.5em);
}


.wpr-compliance h3 a,
.wpr-compliance p a{
	color: #383838 !important;
	text-decoration: none!important;
	cursor: none;
}


.et_pb_toggle_title:before{
	display:none !important;
}
.wpr-faq-bottom {
	position:relative;
}
.wpr-add-open-icon .wpr-faq-bottom:after {
    font-family: ETmodules!important;
	content: "\e04f";
    position: absolute;
    font-size: 24px;
    color: #8329AA;
    right: 20px !important;
    bottom: 7px;
}
.et_pb_toggle_close .wpr-faq-bottom:after {
	content: "\e050" !important;
	font-family: ETmodules!important;
    position: absolute;
    font-size: 24px;
    color: #8329AA;
    right: 20px !important;
    bottom: 7px;
}

@media (max-width: 992px) { 
	body .et_pb_button:after{
		display:none !important;
	}
}
